<h1>User Details</h1>
<!-- Display relevant information about @user -->
<p>Name: <%= @user.name %></p>
<p>Email: <%= @user.email %></p>
<!-- Link to view all posts by the user -->
<p><%= link_to "View all posts by this user", user_posts_path(@user) %></p>